h1 {
    margin-top: 0;
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar {
    width: 200px;
    background-color: lightgray;
    padding: 10px;

    /*Căn chỉnh*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*Vị trí*/
    position: fixed;
    height: 100%;
    top: 0;
}

#buttons {
    margin-top: 20px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
}

.customButton:hover {
    background-color: lightgray;
}