/* link color palettes: https://colorhunt.co/palette/b799ffacbcffaee2ffe6fffd */
h1 {
    position: absolute;
    top: 0;
    font-size: 32px;
    animation: changeColor 1s infinite;
    padding: 10px;
}


@keyframes changeColor {
    0% {
        color: #B799FF;
    }

    50% {
        color: #AEE2FF;
    }

    100% {
        color: #0075FF;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vh;
}

#canvas {
    position: absolute;
    display: none;
    top: 15vh;
}

.sidebar {
    width: 15vw;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    height: 100%;
}

.customBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: gray;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.customBtn-control {
    display: flex;
    justify-content: space-between;
    margin-left: 3em;

    padding: 10px 20px;
    background-color: white;
    color: #0075FF;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.customBtn-control:hover {
    background-color: #B799FF;
}

.customBtn-control-upload {
    border: 2px solid black;
}

.customBtn-control-reset {
    display: flex;
    justify-content: space-between;
    margin-left: 3em;

    padding: 13px 22px;
    color: #0075FF;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.customBtn-control-reset:hover {
    background-color: #B799FF;
}

/*GROUP*/
.group {
    display: block;
}

.group-title {
    border-bottom: 1px solid black;
    color: black;
    font-size: 22px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
}

.function-wrapper {
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.function-group {
    padding: 10px;
    border: 1px solid black;
    background-color: #AEE2FF;
    border-radius: 5px;
    margin-bottom: 10px;
}

.function-btn {
    position: relative;
    padding: 10px;
    background-color: #AEE2FF;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}


.function-btn:hover {
    background-color: #B799FF;
}

.function-btn.active {
    background-color: #B799FF;
    color: #fff;
}

.text {
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
    width: 24px;
    height: 24px;
    fill: #000;
}

.function-btn-draw {
    position: relative;
    padding: 10px 15px;
    background-color: #AEE2FF;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.function-btn-save {
    position: relative;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    color: #0075FF;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.function-btn-text {
    position: relative;
    padding: 15px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #AEE2FF;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.btn-group {
    display: flex;
}